@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    background-color: #000000;
    color: #fcfdff;
    font-family: Inter, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: #000000;
  }

  * {
    box-sizing: border-box;
  }
}
